<h2>Restaurants list</h2>

<div class="restaurants-list">
  <% @restaurants.each do |restaurant| %>
    <p>[<%= restaurant.category %>] <%= link_to restaurant.name, restaurant_path(restaurant) %></p>
  <% end %>
</div>
