<h1>Restaurants list</h1>

<%= link_to "Add restaurant", new_restaurant_path, class: "btn btn-primary" %>

<% @restaurants.each do |restaurant| %>
  <p>[<%= restaurant.category %>] <%= link_to restaurant.name, restaurant_path(restaurant) %></p>
<% end %>
